<div class = "header-div">
  <h2>Report Dashboard</h2>
</div>

<div class = "content-div">
  <div>
    <% if current_user.blank? %>
      <div class = "login">
        <p>Please Log In</p>
        <%= link_to 'LogIn with Github', '/auth/github' %>
      </div>
    <% else %>
      <div class = "logout">
        <p>
          You are signed in as <%= current_user.username %>.  Click the button below to sign out.
        </p>

        <%= button_to "Sign Out", signout_path, method: :delete %>
      </div>
    <% end %>
  </div>
</div>
